<!--Container for the saved recipes-->
      <div class="container">
      <div class="row row-cols-3 justify-content-center">
        <a href="">
          <img src="/images/{{recipe.[0].filename}}" class="rounded img-fluid col saved-image" alt="...">
        </a>
    </div>
      
     </div>