*{
   font-family: 'Gemunu Libre', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

img {
    width: 200%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-left: 10%;
  }

body {
    background: #8BA888;
    font-family: 'Gemunu Libre', sans-serif;
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gemunu Libre', sans-serif;
}
p{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
}

textarea {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
}
div{
    font-family: 'Sofia Sans', sans-serif;
}

.recipe-image{
    margin:6%
}

.saved-image{
    margin:6%
}

.textbox{
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
}
.titlebox{
    margin-top:8%;
    margin-left:8%;
    margin-right:8%;
}
.filebox{
    margin-left:20%;
    margin-right:20%;
    margin-top:2%;
    margin-bottom:2%;
}

.saved-image:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-text{
    display:none;
}
.card:hover .card-text{
    display:block;
}